<%- include('header.ejs')%>
	<link rel="stylesheet" href="./assets/dist/css/sidebars.css">
	</head>

	<body>
		<header>
			<%- include('navbar.ejs')%>
		</header>

		<div class="row ">
			<div>
				<!-- <side bar> -->
			</div>
			<main class="col-12">
				<div class="container marketing">
					<h1 class=" text-center">Bienvenido a <%= title %>
					</h1>
					<h2 id='teclerName' class="text-center"></h2>
					<div>
						<%- include('general.ejs')%>
					</div>
					<div>
						<%- include('estudios.ejs')%>
					</div>
					<div>
						<%- include('idiomas.ejs')%>
					</div>
					<div>
						<%- include('hobbies.ejs')%>
					</div>
					<div>
						<%- include('conocimientos.ejs')%>
					</div>
					<div>
						<%- include('tecnologias.ejs')%>
					</div>
					<div>
						<%- include('performance.ejs')%>
					</div>
					<div>
						<%- include('soft.ejs')%>
					</div>
					<div>
						<%- include('profEnv.ejs')%>
					</div>
					<div>
						<%- include('extraKnow.ejs')%>
					</div>
					<div>
						<%- include('feedback.ejs')%>
					</div>
				</div>
			</main>
			<!-- FOOTER -->
			<%- include('footer.ejs')%>
		</div>
		<script src="./assets/modules/profile.js "></script>
		<script src="./assets/modules/general.js "></script>
		<script src="./assets/modules/estudios.js "></script>
		<script src="./assets/modules/idiomas.js "></script>
		<script src="./assets/modules/hobbies.js "></script>
		<script src="./assets/modules/conocimientos.js "></script>
		<script src="./assets/modules/tecnologias.js "></script>
		<script src="./assets/modules/performance.js "></script>
		<script src="./assets/modules/soft.js "></script>
		<script src="./assets/modules/profEnv.js "></script>
		<script src="./assets/modules/extraKnow.js "></script>
		<script src="./assets/modules/feedback.js "></script>
		<script src="./assets/modules/exit.js "></script>
		<!-- <script src="./assets/dist/js/sidebars.js "></script> -->
		<script src="./assets/dist/js/bootstrap.bundle.min.js "></script>
	</body>

	</html>
